
@page "/"

<h1>Hello, world!</h1>

<MudCard Style="background-color:lime"   Elevation="4">
        <MudCardContent>
            <MudText>Story of the day</MudText>
            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Success">Learn more</MudButton>
        </MudCardActions>
    </MudCard>